input[type=text], input[type=password], input[type=email] {
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

#logo {
    max-height: 170px;
}

input[type=button]:hover{
    cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder , input[type=password]::placeholder,input[type=email]::placeholder {
    color: #929292;
}

input[type=button], input[type=submit], input[type=reset]  {
    border: none;
    margin: 5px;
    padding: 15px 80px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 100px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
